{
  "openapi": "3.0.0",
  "info": { "title": "Open Brewery DB", "version": "1.0.0",
    "description": "Open source brewery data. No auth required." },
  "servers": [{ "url": "https://api.openbrewerydb.org/v1" }],
  "paths": {
    "/breweries": {
      "get": {
        "summary": "List / filter breweries",
        "parameters": [
          { "name": "by_city",    "in": "query", "schema": { "type": "string" } },
          { "name": "by_state",   "in": "query", "schema": { "type": "string" } },
          { "name": "by_country", "in": "query", "schema": { "type": "string" } },
          { "name": "by_type",    "in": "query", "schema": { "type": "string", "enum": ["micro","nano","regional","brewpub","large","planning","bar","contract","proprietor","closed"] } },
          { "name": "by_name",    "in": "query", "schema": { "type": "string" } },
          { "name": "per_page",   "in": "query", "schema": { "type": "integer" } },
          { "name": "page",       "in": "query", "schema": { "type": "integer" } },
          { "name": "sort",       "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "List of breweries", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Brewery" } } } } } }
      }
    },
    "/breweries/search": {
      "get": {
        "summary": "Full-text search across brewery names and locations",
        "parameters": [
          { "name": "query",    "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "Search results", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Brewery" } } } } } }
      }
    },
    "/breweries/{id}": {
      "get": {
        "summary": "Get brewery by ID",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "Brewery", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Brewery" } } } } }
      }
    }
  },
  "components": {
    "schemas": {
      "Brewery": {
        "type": "object",
        "properties": {
          "id":           { "type": "string" },
          "name":         { "type": "string" },
          "brewery_type": { "type": "string" },
          "city":         { "type": "string" },
          "state":        { "type": "string" },
          "country":      { "type": "string" },
          "phone":        { "type": "string" },
          "website_url":  { "type": "string" }
        }
      }
    }
  }
}
